* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.header{
    width: 100%;
    height: 110px;
    display: block;
    background-color: rgb(41, 41, 41);
    
}

.container{
    min-height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.main{
    overflow: auto;
    padding-bottom: 50px;
}

.footer{
    background-color:  rgb(41, 41, 41);
    position: relative;
    height: 50px;
    margin-top: -50px;
    clear: both;
}

.copyright{
    float: left;
    width: 50%;
    color: white;
    padding: 14px 10px;
    
}

.website_logo p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: goldenrod;
    text-align: center;
    padding-top: 27px;
}

.main-menu li a {
    text-decoration: none;
}

.main-menu li {
    list-style-type: none;
}

nav {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    background: rgb(78, 54, 11);
    z-index: 1;
    text-align: left;
}

.main-menu li {
    display: inline-block;
}

.main-menu a {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 0 20px;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    margin-left: 20px;
}
.main-menu a:hover {
    background: goldenrod;
    color: #fff;
}

.terms{
    float: right;
    color: white;
    padding-top: 10px;
    padding-right: 20px;
}





